# Built website
site/

# Archive and extra notes
archive/
translate_raw/
EDITING_GUIDE.md
*.json
mkdocs.yml

# Python & related temporary files
__pycache__/
*.py
*.Identifier

# System files
.DS_Store
Thumbs.db
